.footer-page{
    margin-top: 5%;
    min-height:25vh;
    width:100%;
    background-color:black;
}
.footer-page h1{
    color:white;
    text-transform: uppercase;
    font-size:20px;
    letter-spacing: 4px;
    margin-top:3%;
}

.abt-social-media1{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width:30%;
    margin-top:3%;
    margin-left: auto;
    margin-right:auto;
    
}
.abt-social-media1 div{
    background-color: white;
    /* padding:2px; */
    margin:5px 15px;
    
}

.abt-social-media1 .facebook{
    background-image: url('https://image.flaticon.com/icons/png/512/60/60818.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 8%;
    height: 39px;
    min-height: 0vh;
    border-radius: 6px;
    
}

.abt-social-media1 .twitter{
    background-image: url('https://image.flaticon.com/icons/svg/60/60580.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 7%;
    height: 35px;
    min-height: 0vh;
    border-radius: 6px;
}

.abt-social-media1 .linkedin1{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/LinkedIn_logo_In-Black.svg/1200px-LinkedIn_logo_In-Black.svg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 8%;
    height: 39px;
    min-height: 0vh;
    border-radius: 6px;
}

.socio{
    width:300px;
    margin:auto;
    padding-top:2%;
    padding-bottom:2%;
    min-height:10vh;
    display:flex;
    justify-content: space-evenly;
    background-color: black;
}

#git,#linki,#twit{
    color:white;
    font-size:35px;
}