@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

.skills{
    display:flex;
    flex-direction: column;
    width:100%;
}
.Navigation{
    min-height:100px;
    border:10px solid yellow;
    border-left:none;
    border-right:none;
    border-top:none;
}
.skill-wrapper
{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap:3%;
    background-color: white;
    min-height: 50vh;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-top:7%;
}
.skill-wrapper-image{
    background: url('https://images.unsplash.com/photo-1518611507436-f9221403cca2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=925&q=80');
    /* background-image: url('https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80'); */
    background-size: cover;
    background-repeat: no-repeat;
    min-height:70vh;
}
.skill-wrapper-content{
    text-align: left;
}

.skill-wrapper-content h1{
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    font-style: bold;

}
.skill-wrapper-content h3{
    letter-spacing: 2px;
    line-height: 25px;
    color:gray;
    padding-top:17px;
    font-size: 17px;
}

.skill-topic{
    display:flex;
    padding-top:2%;
    text-align: left;
}
/* .skill-topic h3{
    padding:2%;
    color:grey;
    font-size: 17px;
    margin-right:3%;

} */
#skill-progress{
  padding:2%;
    color:grey;
    font-size: 17px;
    margin-right:3%;
   cursor: pointer;
}

#skill-progress-hover{
  padding:2%;
    font-size: 17px;
    margin-right:3%;
    color:black;
    border:3px solid rgb(212, 216, 5);
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.skill-progress{
    margin-top:6%;
}

@keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5%;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .bar.front::before{
    background-color: #ffcc33;
  }
  .bar.back::before{
    background-color: #a6cfe3;
  }
  
  .bar.learning::before{
    width: calc(20% - 10px);
  }
  .bar.basic::before{
    width: calc(40% - 10px);
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.expert::before{
    width: calc(100% - 10px);
  }
  


  @media only screen and (max-width:1000px){
     .skill-wrapper{
       display: block;
     }
     .skill-wrapper-image{
       display:none;
     }
  }