
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
.Navigation{
    min-height:75px;
    background-color:black;
    /* border:10px solid yellow; */
    display:flex;
    border-left:none;
    border-right:none;
    border-top:none;
}

.abt-main{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:2%;

}
.abt-header{
    text-align: left;
    width:80%;

    /* background-color: rebeccapurple; */
    /* padding:3% 2% 3% 0%; */
}
.abt-header h1{
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    font-style: bold;
    /* animation:head 2s 1; */

}
@keyframes head{
    0%{
        transform: translateX(-160px);
    }
   
}
@keyframes body{
    0%{
        transform: translateX(100px);
    }
   
}
.abt-header h3{
    font-size:20px;
    letter-spacing: 3px;
    color:gray;
    /* padding-top:9px; */
}
.abt-wrapper{
    /* border: 2px solid gray; */
    padding-top:2%;
    width:80%;
    display:grid;
    grid-template-columns: 30% 70%;
    grid-gap:3%;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

.abt-image{
    /* background-color: aqua; */
    background: url('https://images.unsplash.com/photo-1504703395950-b89145a5425b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=651&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    animation:head 2s 1;

}

.abt-content{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    animation:body 2s 1;
}
.abt-content-header{
    /* background-color:gray; */
    /* padding:1%; */
    text-align: left;
    line-height: 30px;
    /* padding-bottom:20px; */
}

.abt-content-header h1{
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    font-style: bold;
}

.abt-content-header h2{
    color:#343030fc;
    line-height: 40px;
    font-size:18px;
    letter-spacing: 2px;
}

.abt-content-header h2 span{
    color:#d1ca2a;
}


.abt-content-header h3{
    font-size: 17px;
    line-height:24px;
    color:gray;
    letter-spacing: 1px;
}
.abt-content-body{
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-gap: 10px; */
}
.abt-content-body div{
    /* background-color: green; */
    width:80%;
    border: 2px solid gray;
    border-top: none;
    border-left:none;
    border-right:none;
    text-align: left;
    padding-top:8%;
    padding-bottom:2%;
}

.abt-content-body p{
    font-style: bold;
    font-weight: 700;
}

.abt-content-body span{
    font-weight: 500;
}


.socio-abt{
    margin-top: 2%;
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width:250px;
}
.socio-abt .git,.twit,.link{
    background-color: black;
    width:20%;
    border-radius: 10px;
}


@media only screen and (max-width:1300px)
{
    .abt-wrapper{
        /* border: 2px solid gray; */
        padding-top:2%;
        width:80%;
       display: block;
        overflow: hidden;
        font-family: 'Noto Sans KR', sans-serif;
    }
    .abt-image{
            /* background-color: aqua; */
    background: url(https://images.unsplash.com/photo-1504703395950-b89145a5425b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=651&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    animation: head 2s 1;
    min-height: 463px;
    width: 329px;
    margin-bottom:5%;
    }
    
}